.card {
  overflow: hidden;
  // width: 100%;
}
.card-outlined {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.card-elevated {
  border-radius: 4px;
  transition: 0.3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}
